* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	color: black;
	font-size: 8px;
	/*bgi*/
	background-image: url('img/kunai.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 50%;
    background-size:cover;
    height: 100%;
	width: 100%;
	background-color: rgba(0, 3, 27, 0.4);

}
body h1 {
	text-align: center;
	font-family: 'Jost', sans-serif;
	margin: 20px;
    font-size: 20px;
	text-transform: uppercase;
	line-height: 22px;
    font-weight: 700;
}
body header hr {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	border: 1px solid black;
}
nav a {
	position: absolute;
	margin: 20px auto;
    width: 30%;
	font-family: 'Jost', sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	padding: 4px;
	text-decoration: none;
    color: black;
	font-weight: 700;
    text-align: center;
	background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
    border: 2px solid black;

}
nav a{
    transition: color 0.3s, text-shadow 0.3s;
}
.l1 {
	top: 15%;
	left: 22%;
	transform: translateX(-20%);
    
}
.l2 {
	top: 20%;
	left: 19%;
	transform: translateX(-19%);
    
}

.l3 {
	top: 25%;
	left: 16%;
	transform: translateX(-18%);
    
}
.l4 {
	top: 30%;
	left: 13%;
	transform: translateX(-17%);
    
}
.l1:hover{
    color: rgb(255, 77, 45);
    text-shadow: 1px 1px 5px black;
}
.l2:hover{
    color: rgb(109, 3, 180);
    text-shadow: 1px 1px 5px black;
}
.l3:hover{
    color: rgb(31, 214, 247);
    text-shadow: 1px 1px 5px black;
}
.l4:hover{
    color: rgb(12, 219, 92);
    text-shadow: 1px 1px 5px black;
}
